h2 {
    color: darkgreen !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    margin-left: 20px !important;
    margin-top: 10px;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    margin-left: 20px !important;
}

.UserProfile{
    margin-top: 25px;
    margin-left: 50px;
}

#UserImage{
    border-radius: 50px;
}

#Badge{
    font-size: medium !important;
    margin-right: 5px !important;
    margin-bottom: 5px !important;
}